{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    
    <title>김앤박</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- 검색 기능 bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- 다른 template에서 가져온 내용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
	<link rel="stylesheet" href="{% static 'css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'css/glightbox.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
    <!-- 좋아요 기능 위한 css-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Core theme JS-->
    <script type="text/javascript" src="{% static 'js/p_scripts.js' %}"></script>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'home' %}" style="color:rgb(41, 39, 39); font-weight: bold; font-size:x-large;">김and박</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="col collapse navbar-collapse" id="navbarSupportedContent">
        
                <form class="d-flex">
                    {% if user.is_authenticated %}
                        <a href="#"><button type="button" class="btn btn-outline-secondary">안녕하세요 {{ user.username }} 님</button></a>
                        <ul class="nav-item dropdown" style="padding-left:10px;">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">마이페이지</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/accounts/logout/">로그아웃</a></li>
                                
                            </ul>
                        </ul>
                    {% else %}
                        <button class="btn btn-outline-dark" type="submit"><a href="{%url 'login'%}">로그인</a></button>
                        <button class="btn btn-outline-dark" type="submit" style="margin-left:20px;"><a href="{%url 'signup'%}">회원가입</a></button>
                    {% endif %}
                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            
                        </div>
                    </nav>
                </form>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <!-- Footer-->
    <footer class="py-5 bg-dark site-footer">
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>