{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-5 mt-5">
    <section class="section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-6">
                    
                    <h2 class="posts-entry-title" style="font-weight:bold;">{{current_category}}
                    </h2>
                </div>
                    <div class="col-sm-6 text-sm-end"><a href="{% url 'post_list' %}" class="read-more">View All</a>
                    </div>
            </div>
        </div>


        <div class="row">
            {% for post_object in products %}
            <div class="col-lg-4 mb-4">
                <div class="post-entry-alt">
                    <a href="/post_list/"{{ post_object.pk }}" class="img-link"><img src="{% static 'medicine.png' %}"
                            alt="Image" class="img-fluid"></a>
                    <div class="excerpt">
                        <h2><a href="/post_list/{{ post_object.pk }}">{{ post_object.title }}</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span class="d-inline-block mt-1"><a href="#">{{ post_object.content }}</a></span>
                            <br/>
                            <span class="d-inline-block mt-1">By <a href="#">{{ post_object.author }}</a></span>
                        
                        </div>
                
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
</section>


{% endblock %}