{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-dark site-cover site-cover-sm same-height overlay single-page">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">기업 이름</h1>
                    <div class="post-meta align-items-center text-center">
                        <span>&nbsp;&nbsp; 등록 날짜 : 2022-07-05</span> <!-- 기업 정보 등록날짜-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md main-content">
                <div class="post-content-body">
                    <br />
                    <h5 style="font-size:120%; font-weight: bold;">기업 소개</h5>
                    <hr width=”길이” style="margin-top:0;" noshade />
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nam quas inventore, ut
                        iure iste modi eos adipisci ad ea itaque labore earum autem nobis et numquam, minima eius.
                        Nam eius, non unde ut aut sunt eveniet rerum repellendus porro.</p>
                    <p>Sint ab voluptates itaque, ipsum porro qui obcaecati cumque quas sit vel. Voluptatum
                        provident id quis quo. Eveniet maiores perferendis officia veniam est laborum, expedita fuga
                        doloribus natus repellendus dolorem ab similique sint eius cupiditate necessitatibus, magni
                        nesciunt ex eos.</p>
                    <p>Quis eius aspernatur, eaque culpa cumque reiciendis, nobis at earum assumenda similique ut?
                        Aperiam vel aut, ex exercitationem eos consequuntur eaque culpa totam, deserunt, aspernatur
                        quae eveniet hic provident ullam tempora error repudiandae sapiente illum rerum itaque
                        voluptatem. Commodi, sequi.</p>

                    <br />
                    <h5 style="font-size:120%; font-weight: bold;">기업 위치</h5>
                    <hr width=”길이” style="margin-top:0;" noshade />
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3199.3251630624936!2d126.58250791511398!3d36.690723479971275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357a60745156e687%3A0x934775d18bfcfebb!2z7ZWc7ISc64yA7ZWZ6rWQIOyEnOyCsOy6oO2NvOyKpA!5e0!3m2!1sko!2skr!4v1657106932159!5m2!1sko!2skr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <button type="submit" class="btn btn-outline-success" style="height:1em; line-height:50%;">기업 정보
                    수정</button>
                <button type="submit" class="btn btn-outline-danger" style="height:1em; line-height:50%;">기업 정보
                    삭제</button>
                <!-- 후기 -->
                <div class="pt-5 comment-wrap">
                    <h3 class="mb-5 heading" style="font-size:120%; font-weight: bold;">기업 후기</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            {%for c_comment in company_comment_object.all%}
                            <div class="comment-body">
                                <h3>{{c_comment.writer}}</h3>
                                <hr width="200" style="margin-top: 0" noshade />
                                <p>평점: {{c_comment.grade}}</p>
                                {% if c_comment.image %}
                                <img src="{{c_comment.image.url}}" class="img-thumbnail" alt="{{c_comment.image.url}}"
                                    height="200" width="200">
                                {%endif%}
                                <p>{{c_comment.comment_text}}</p><br /><br />
                                <div class="meta">{{c_comment.created_at}}</div>
                                <form method="POST" name="form">
                                    {% csrf_token %}
                                    <a href="{% url 'companycomment_update' c_comment.id %}"
                                        class="btn btn-outline-success" style="height:1em; line-height:50%;">수정</a>
                                    <a href="{% url 'companycomment_delete' c_comment.id %}"
                                        class="btn btn-outline-danger" style="height:1em; line-height:50%;">삭제</a>
                                </form>
                                <br /><br />
                            </div>
                            {%endfor%}

                </div>
                </li>
                </ul>
                <!-- END comment-list -->

                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">기업 후기 남기기</h3>
                    <form method="POST" action="{% url 'new_Company_Comment' %}" class="p-5 bg-light"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            {%csrf_token%} {{CC_form.as_p}}
                            <input type="submit" value="댓글 달기" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



{% endblock %}