{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-dark site-cover site-cover-sm same-height overlay single-page">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6" style="width:936px;">
                <div class="post-entry text-center">
                    <h1 class="mb-4">{{ post_detail_object.title }}</h1>
                    <div class="post-meta align-items-center text-center">
                        <span class="d-inline-block mt-1">{{ post_detail_object.author }}</span><br/><br/>
                        <span>&nbsp;&nbsp; {{ post_detail_object.created_at }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md main-content">
                <div class="post-content-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center" style="width: 10%">일정</th>
                                <th scope="col" class="text-center" style="width: 10%">장소</th>
                                <th scope="col" class="text-center" style="width: 80%">내용</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in schedule_loop %}
                            <tr>
                                <td class="text-center">{{ schedule.0 }}</td>
                                <td class="text-center" >{{ schedule.1 }}</td>
                                <td>{{ schedule.2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <br/><h5 style = "font-size:120%; font-weight: bold;">내용</h5><hr width=”길이” style="margin-top:0;" noshade />
                    {{ post_detail_object.content }}
                </div>
                <div class="pt-5">
                    <p>Categories: <a href="#">{{ post_detail_object.category }}</a>
                </div>
                <a href="/post_edit/{{ post_detail_object.pk }}"><button type="submit" class="btn btn-outline-success" style="height:1em; line-height:50%;">게시글 수정</button></a>
                <a href="/post_list/post_delete/{{ post_detail_object.pk }}"><button type="submit" class="btn btn-outline-danger" style="height:1em; line-height:50%;" >게시글 삭제</button></a>
                <!-- 댓글 -->
                <div class="pt-5 comment-wrap">
                    <h3 class="mb-5 heading" style = "font-size:120%; font-weight: bold;">댓글</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            {%for comment in post_detail_object.comment_set.all%}
                            <div class="comment-body">
                            <h3>{{comment.writer}}</h3>
                            <form method="POST" name="form"> 
                                {% csrf_token %} 
                                <a href="{% url 'comment_update' post_detail_object.pk comment.id %}" class="btn btn-outline-success" style="height:1em; line-height:50%;">수정</a>
                                <a href="{% url 'comment_delete' post_detail_object.pk comment.id %}" class="btn btn-outline-danger" style="height:1em; line-height:50%;">삭제</a>
                            </form>
                            <div class="meta">{{comment.created_time}}</div>
                            <p>{{comment.comment_text}}</p><br /><br />
                            </div>
                            {%endfor%}
                        </div>
                        </li>
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">댓글 남기기</h3>
                        <form method="POST" action="{% url 'new_comment' post_detail_object.id %}" class="p-5 bg-light">
                            <div class="form-group">
                                {%csrf_token%}
                                {{comment_form}}
                                <input type="submit" value="댓글 달기" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}